.shawn  {color: red; font-style: italic; text-align: center;} 
body {background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiG5Pvvp0eBRakTv5siHHZjIMREfcloO4wzQ&s);}
nav { color: white; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; text-align: center;}
article {color: white; font-style: oblique;}
.hhh{ border: 5px solid aqua;}
.roman { border: 5px solid yellowgreen;}
.tierra { color: blue; font-style: italic;}
.y2j {border: 5px solid yellow;}